*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
h1{
    text-align: center;
}
#dov{
    position: absolute;
    top: 100px;
    left:500px
}
#dov2{
    position: absolute;
    top: 900px;
    left: 640px;
}
